html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/login_background.jpg") no-repeat center/130%;
    background-attachment: fixed;
}

img {
    object-fit: contain;
    max-width: 100%;
}

.container{
    padding: 60px 40px;
    background-color: rgba(255, 255, 255, 0.700);
    border-radius: 0.5rem;
}

.loginBlock{
    max-width: 300px;
    margin: 0 auto;    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgba(36, 30, 30, 0.651);
}

.loginInputBlock{
    display: flex;
    flex-direction: column;
}

.loginInputBlock input{
    width: 100%;
    line-height: 3;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
}

.loginBlock button{
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: whitesmoke;
    background-color: rgb(50, 50, 156);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
}

.loginBlock button:hover{
    font-size: 1.25rem;
    background-color: rgb(36, 39, 122);
    transition-duration: 0.25s;
}
